.detail_guide{
  float: right;
  height: calc(100vh - 50px);
  width: calc(100% - 250px);
  background-color: $gray;
  overflow: scroll;
  .contents{
    .content{
      margin: 0 auto;
      width: calc(100vh - 50px);
      height: calc(100% - 250px);
      object-fit: cover;
    }
  }
}